*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  overflow: hidden;
}

.background {
  background: url("https://images.unsplash.com/photo-1628237117116-3afb22d021f2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=369&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  inset: -20px;
  filter: blur(20px);
  z-index: -1;
}
